#element-one {
    width: 100px;
    height: 100px;
    background-color: lightsalmon;
}

#element-two {
    width: 100px;
    height: 100px;
    background-color: cadetblue;
}

#element-three {
    width: 100px;
    height: 100px;
    background-color: chartreuse;
}

#element-four {
    width: 100px;
    height: 100px;
    background-color: deeppink;
}

#element-five {
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
}

#element-six {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}

#element-seven {
    width: 100px;
    height: 100px;
    background-color: crimson;
}

#element-eight {
    width: 100px;
    height: 100px;
    background-color: darkslateblue;
}

#element-nine {
    width: 100px;
    height: 100px;
    background-color: gold;
}

.box-6-form {
    margin-top: 3px;
    width: 40px;
}

.box-7-key {
    margin-top: 3px;
    width: 90px;
}

.box-9-form {
    margin: 3px 0 3px 0;
    width: 55px;
}

.container {
    width: 500px;
}

.shape {
    width: 100px;
    height: 100px;
    float: left;
    margin: 20px;
    border-radius: 3px;
}

.text {
    display: table;
    margin: auto;
    font-size: 50px;
    font-family: sans-serif;
    line-height: 100px;
}

.blurred {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.beRed {
    background-color: red !important;
}

.appearance {
    visibility: hidden;
}

.beRound {
    border-radius: 50px;
}

.textEight {
    display: table;
    margin: auto;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 100px;
}